html[data-theme='dark'] {
    --bg--image: background-image: url(../images/bg-desktop-dark.jpg);
    --bg--mobile--dark: background-image: url(../images/bg-mobile-dark.jpg);

    --bg-image: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Bluehover: hsl(236, 33%, 92%); /*hover*/
    --bg-todo: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

html[data-theme='light'] {
        // Light Theme
        --bg--light: background-image: url(../images/bg-desktop-light.jpg);
        --bg--mobile--light: background-image: url(../images/bg-mobile-light.jpg);
    
        --bg-colour: hsl(0, 0%, 98%);
        --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
        --bg-todo: hsl(233, 11%, 84%);
        --Dark-Grayish-Blue: hsl(236, 9%, 61%);
        --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    
}