@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Josefin Sans', sans-serif;
    // Primary
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    font-size: 18px;
}

input[type=radio] {
    vertical-align: middle;
    margin-left: 0.5rem;
    width: 18px;
    height: 18px;
    border: white;
    color: transparent;
    cursor: pointer;
}