@import './config';
@import './responsive';

.container {
    background-image: url(../images/bg-mobile-dark.jpg);
    background-color: var(--Very-Dark-Blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    padding: 3rem 1rem;
    min-height: 100vh;

    @include mQ(799px) {
        background-image: url(../images/bg-desktop-dark.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 40vh;
        background-color: var(--Very-Dark-Blue);
    }
}

.app-container {
    @include mQ(799px) {
        width: 50%;
        margin: 0 auto;
    }

    @include mQ(479px) {
        width: 70%;
        margin: 0 auto;
    }
}

.header .row-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.row-one-heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.row-one-img {
    cursor: pointer;
}

.header-row-two {
    border-radius: 8px;
    background-color: var(--Very-Dark-Grayish-Blue);
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    
    input[type=text] {
        background-color: var(--Very-Dark-Grayish-Blue);
        color: white;
        border: none;
        width: 90%;
        padding: 0.5rem;
        outline-color:var(--Very-Dark-Grayish-Blue);
        outline: none;
    }
}

.tasks-container {
    width: 100%;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.task-container {
    padding: 0.5rem;
    display: flex;
    border-bottom: 0.01px solid var(--Very-Light-Grayish-Blue);
    
    input[type=checkbox] {
        vertical-align: middle;
        margin-left: 0.5rem;
        width: 18px;
        height: 18px;
        border: white;
        border-radius: 50%;
    }

    input[type=text] {
        background-color: var(--Very-Dark-Grayish-Blue);
        color: white;
        border: none;
        width: 80%;
        padding: 0.5rem;
        // outline-color:var(--Very-Dark-Grayish-Blue);
        // outline: none;
    }

    .strike-through {
        text-decoration: line-through;
    }

    .instruction {
        padding-left: 0.5rem;
        padding-top: 0.25rem;
        color: white;
        width: 85%;

        @include mQ(479px) {
            width: 93%;
        }
    }

    .delete-task {
    cursor: pointer;
    }
}

.tasks-information {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.75rem 1rem;

    @include mQ(479px) {
        padding: 1rem;
    }

    // Hide dektop filters on mobile
    .task-filters-desktop {
        display: none;
        
        .all,
        .not-completed {
            margin-right: 0.5rem;
        }

        .all,
        .not-completed,
        .completed,
        .tasks-left,
        .clear-completed {
            cursor: pointer;
        }

        .all:hover,
        .not-completed:hover,
        .completed:hover,
        .tasks-left:hover {
            color: var(--Bright-Blue);
        }

        @include mQ(800px) {
            display: flex;
        }
    }
}

.active {
    color: var(--Bright-Blue);
}

.task-filters-mobile {
    display: flex;
    color: white;
    justify-content: center;
    padding: 0.75rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 8px;

    .all,
    .not-completed {
        margin-right: 0.5rem;
    }

    .all,
    .not-completed,
    .completed,
    .tasks-left,
    .clear-completed {
        cursor: pointer;
    }

    .all:hover,
    .not-completed:hover,
    .completed:hover,
    .tasks-left:hover {
        color: var(--Bright-Blue);
    }

    @include mQ(799px) {
        display: none;
    }
}

.footer {
    color: white;
    text-align: center;
    padding-top: 1rem;
}


