@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Josefin Sans', sans-serif;
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Bluehover: hsl(236, 33%, 92%);
  /*hover*/
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  font-size: 18px;
}

input[type=radio] {
  vertical-align: middle;
  margin-left: 0.5rem;
  width: 18px;
  height: 18px;
  border: white;
  color: transparent;
  cursor: pointer;
}

.container {
  background-image: url(../images/bg-mobile-dark.jpg);
  background-color: var(--Very-Dark-Blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  padding: 3rem 1rem;
}

@media screen and (min-width: 799px) {
  .container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40vh;
    background-color: var(--Very-Dark-Blue);
  }
}

@media screen and (min-width: 799px) {
  .app-container {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 479px) {
  .app-container {
    width: 70%;
    margin: 0 auto;
  }
}

.header .row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.row-one-heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.row-one-img {
  cursor: pointer;
}

.header-row-two {
  border-radius: 8px;
  background-color: var(--Very-Dark-Grayish-Blue);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.header-row-two input[type=text] {
  background-color: var(--Very-Dark-Grayish-Blue);
  color: white;
  border: none;
  width: 90%;
  padding: 0.5rem;
  outline-color: var(--Very-Dark-Grayish-Blue);
  outline: none;
}

.tasks-container {
  width: 100%;
  background-color: var(--Very-Dark-Grayish-Blue);
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.task-container {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.01px solid var(--Very-Light-Grayish-Blue);
}

.task-container input[type=radio] {
  vertical-align: middle;
  margin-left: 0.5rem;
  width: 18px;
  height: 18px;
  border: white;
}

.task-container input[type=text] {
  background-color: var(--Very-Dark-Grayish-Blue);
  color: white;
  border: none;
  width: 80%;
  padding: 0.5rem;
}

.task-container .instruction {
  padding-left: 0.5rem;
  color: white;
  width: 85%;
}

@media screen and (min-width: 479px) {
  .task-container .instruction {
    width: 93%;
  }
}

.task-container .delete-task {
  cursor: pointer;
}

.tasks-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 0.75rem;
}

@media screen and (min-width: 479px) {
  .tasks-information {
    padding: 1rem;
  }
}

.tasks-information .task-filters-desktop {
  display: none;
}

.tasks-information .task-filters-desktop .all,
.tasks-information .task-filters-desktop .active {
  margin-right: 0.5rem;
}

.tasks-information .task-filters-desktop .all,
.tasks-information .task-filters-desktop .active,
.tasks-information .task-filters-desktop .completed,
.tasks-information .task-filters-desktop .tasks-left,
.tasks-information .task-filters-desktop .clear-completed {
  cursor: pointer;
}

.tasks-information .task-filters-desktop .all:hover,
.tasks-information .task-filters-desktop .active:hover,
.tasks-information .task-filters-desktop .completed:hover,
.tasks-information .task-filters-desktop .tasks-left:hover {
  color: var(--Bright-Blue);
}

@media screen and (min-width: 800px) {
  .tasks-information .task-filters-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.task-filters-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem;
  background-color: var(--Very-Dark-Grayish-Blue);
  border-radius: 8px;
}

.task-filters-mobile .all,
.task-filters-mobile .active {
  margin-right: 0.5rem;
}

.task-filters-mobile .all,
.task-filters-mobile .active,
.task-filters-mobile .completed,
.task-filters-mobile .tasks-left,
.task-filters-mobile .clear-completed {
  cursor: pointer;
}

.task-filters-mobile .all:hover,
.task-filters-mobile .active:hover,
.task-filters-mobile .completed:hover,
.task-filters-mobile .tasks-left:hover {
  color: var(--Bright-Blue);
}

@media screen and (min-width: 799px) {
  .task-filters-mobile {
    display: none;
  }
}

.footer {
  color: white;
  text-align: center;
  padding-top: 1rem;
}
/*# sourceMappingURL=main.css.map */